@import 'tailwindcss';

@theme {
  /* Gray Scale */
  --color-gray-100: #ffffff;
  --color-gray-200: #f3f3f3;
  --color-gray-300: #dcdcdc;
  --color-gray-400: #aeaeae;
  --color-gray-500: #777777;
  --color-gray-600: #111111;

  /* Error Scale */
  --color-red-400: #D44242;

  /* Primary Color */
  --color-primary-blue: #132650;
  --color-primary-variant-blue: #2e4475;
  --color-calendar-blue: #4474E2;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('./assets/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('./assets/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  /* Big Title (32px, Bold) */
  .font-bigtitle-b {
    font-family: 'Spoqa Han Sans Neo', Arial, sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 150%;
  }

  /* Big Title (32px, Regular) */
  .font-bigtitle-r {
    font-family: 'Spoqa Han Sans Neo', Arial, sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 150%;
  }

  /* Title (24px, Bold) */
  .font-title-b {
    font-family: 'Spoqa Han Sans Neo', Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 150%;
  }

  /* Title (24px, Regular) */
  .font-title-r {
    font-family: 'Spoqa Han Sans Neo', Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 150%;
  }

  /* Title/Sub (20px, Bold) */
  .font-title-sub-b {
    font-family: 'Spoqa Han Sans Neo', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 140%;
  }

  /* Title/Sub (20px, Regular) */
  .font-title-sub-r {
    font-family: 'Spoqa Han Sans Neo', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 140%;
  }

  /* Body (16px, Bold) */
  .font-body-b {
    font-family: 'Spoqa Han Sans Neo', Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 140%;
  }

  /* Body (16px, Regular) */
  .font-body-r {
    font-family: 'Spoqa Han Sans Neo', Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 140%;
  }

  /* Small (14px, Bold) */
  .font-small-b {
    font-family: 'Spoqa Han Sans Neo', Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 140%;
  }

  /* Small (14px, Regular) */
  .font-small-r {
    font-family: 'Spoqa Han Sans Neo', Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 140%;
  }

  /* XSmall (12px, Bold) */
  .font-xsmall-b {
    font-family: 'Spoqa Han Sans Neo', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 140%;
  }

  /* XSmall (12px, Regular) */
  .font-xsmall-r {
    font-family: 'Spoqa Han Sans Neo', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 140%;
  }

  /* XXSmall (8px, Regular) */
  .font-xxsmall-r {
    font-family: 'Spoqa Han Sans Neo', Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 140%;
  }

  /* XXXSmall (6px, Regular) */
  .font-xxxsmall-r {
    font-family: 'Spoqa Han Sans Neo', Arial, sans-serif;
    font-size: 0.6rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 140%;
  }
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Spoqa Han Sans Neo', Arial, sans-serif;
  background-color: var(--color-gray-100);
}

/* 스크롤바 커스텀 */
/* WebKit 기반 브라우저 (Chrome, Safari, Edge) 스크롤바 */

/* 1. 전체 스크롤바의 너비/높이 */
::-webkit-scrollbar {
  width: 0.4rem; /* 세로 스크롤바 너비 */
}

/* 2. 스크롤바 트랙 (배경 부분) */
::-webkit-scrollbar-track {
  background: var(--color-gray-200);
}

/* 3. 스크롤바 썸 (움직이는 막대) */
::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-400);
  border-radius: 1rem;
}

/* 4. 스크롤바 썸 호버 시 색상 변경 */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-500); /* 마우스 오버 시 색상 변경 */
}
